<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rain.adopets">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Adopets">
        <activity
            android:name=".recycler_adopt_history"
            android:exported="true" />
        <activity
            android:name=".adopt_history"
            android:exported="true" />
        <activity
            android:name=".wiki_more"
            android:exported="true" />
        <activity
            android:name=".splash_screen"
            android:exported="false"
            android:theme="@style/Theme.Adopets.NoActionBar" />
        <activity
            android:name=".breed_track"
            android:exported="true" />
        <activity
            android:name=".breed_form"
            android:exported="true" />
        <activity
            android:name=".Personaldata"
            android:exported="false" />
        <activity
            android:name=".wiki_species"
            android:exported="true" />
        <activity
            android:name=".wiki_info"
            android:exported="true" />
        <activity
            android:name=".breed_info"
            android:exported="true" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".oa_recommend"
            android:exported="false" />
        <activity
            android:name=".OA_result"
            android:exported="false" /> <!-- Copy activity login di sini -->
        <activity
            android:name=".OA_outfitPic"
            android:exported="false" />
        <activity
            android:name=".adopt_track"
            android:exported="true" />
        <activity
            android:name=".adopt_form"
            android:exported="true" />
        <activity
            android:name=".adopt_info"
            android:exported="true" /> <!-- Copy activity login di sini -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".OA_petPic"
            android:exported="false" />
        <activity
            android:name=".shop_productList"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateVisible|adjustNothing" />
        <activity
            android:name=".shop_tracker"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".shop_checkout"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".shop_basket"
            android:exported="true"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".shop_infoProduk"
            android:exported="true"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Adopets.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>